.app {
  text-align: center;
  font-family: 'Marvel', sans-serif;
}

.header {
  background-color: rgb(96, 194, 240);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  font-family: 'Marvel', sans-serif;
  border: none;
}

.card-body {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body img {
  border-radius: 10%;
  max-width: 350px;
  height: 300px;
}

.card a{
  color: rgb(96, 194, 240);
}

.margin-card {
  margin-top: 1em;
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
